/* Réinitialisation des marges et des rembourrages pour le corps de la page */
body {
    margin: 0;
    padding: 0;
}

/* Style de l'en-tête */
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Style du tableau */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

/* Style des en-têtes de colonnes */
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Style des lignes du tableau */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style des cellules du tableau */
td {
    padding: 10px;
    text-align: center;
}
